* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.absoluteCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 50px;
}

ul {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  list-style: none;
}

.list-elem {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #282c34;
  margin-top: 50px;;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 40px;
}

/* Lab 2 */

.lab2 {
  padding-left: 100px;
  padding-top: 50px;
}

.practice {
  margin-top: 20px
}

#task1_textarea {
  width: 500px;
  height: 300px;
  resize: none;
}